@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  background-color: #f4f6f9;
  color: #1e2d42;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #c0c8d4;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #009640;
}
